#page-wrapper
  .row
    .large-8.large-centered.columns.text-center
      = link_to 'http://www.sang.cat' do
        %span{style: 'font-size: 7rem; line-height: 1.2'}
          %b SUPER IMPORTANT HELP INFO HERE