/ home
#home
  .row
    .medium-12.columns.text-center
      / = image_tag("logo-large.svg", size: "125x125", id: "big-logo")
      / %img{src: '#{image_path()}', width: '661', height: '540', style: "margin-top: 2rem"}
      %h1
        Better Design through Rapid Prototyping
      %p
        Easily share and get feedback on your Framer prototypes
      = link_to 'dropbox/authorize', :class => "primary btn", :id => "get-started" do
        Get Started

/ #collaboration  
/   .row
/     .medium-12.columns.text-center
/       = image_tag("marketing-placeholder.png", size: "661x540")