/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *`
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require entypo
 *= require foundation_and_overrides
 */

@charset "UTF-8";
@import "colors";
@import "transitions";
@import "fonts";
@import "foundation/functions";

nav.top-bar {
	// border-bottom: 2px solid $silver;
	ul {
		li {
			background: none;
			h1 {
				text-transform: uppercase;
				a:hover {
					color: $jet;
				}
			}
			a {
				background: none;
			}
		}
	}
}

ul.dropdown {
	
}

#page-wrapper {
	margin-top: rem-calc(40);
}

// Prototype grid styles
#prototypes-grid li .panel {
	background: white;
	border-top: none;
	border-right: 1px solid rgba(0,0,0,0.1);
	border-left: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	line-height: 20px;
	p {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	a.title {
		font-weight: 600;
		font-style: italic;
		color: $jet;
	}
	a.author {
		font-size: 90%;
	}
	hr {
		margin: rem-calc(-8) 0 rem-calc(9);
	}
	.likes, .comments {
		font-weight: 600;
		font-size: 90%;
		a {
			color: $jet;
			display: inline-block;
			i { color: $aluminum; }
			i.icon-heart.some { color: $pink; }
			i.icon-comment.some { color: $blue; }
		}
	}
	.comments {
		margin-left: rem-calc(15);
	}
}

#prototypes-grid li .preview-img {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
	&:hover {

	}
}

iframe {
	width: 100%;
	min-height: 100vh;
	height: 100%;
}

iframe#notifications {
	width: 250px;
	height: auto;
	min-height: 30px;
}

a:focus, textarea:focus, input:focus{
    outline: 0;
}
a#liked:before {
	content:'Liked'; 
}
a#liked:hover:before {
	content:'Unlike?'; 
}

.preview-img {
	display: block;
	width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

span.inner {
	display: block;
	height: 0;
	padding-top: 100%;
}