/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *`
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */

iframe {
	width: 100%;
	min-height: 100vh;
	height: 100%;
}

iframe#notifications {
	width: 250px;
	height: auto;
	min-height: 30px;
}

a:focus, textarea:focus, input:focus{
    outline: 0;
}
a#liked:before {
	content:'Liked'; 
}
a#liked:hover:before {
	content:'Unlike?'; 
}

.preview-img {
	display: block;
	width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

span.inner {
	display: block;
	height: 0;
	padding-top: 100%;
}