/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *`
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require entypo
 *= require foundation_and_overrides
 */

@charset "UTF-8";
@import "colors";
@import "transitions";
@import "fonts";
@import "foundation/functions";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic);

footer {
  margin-top: rem-calc(25);
  padding-bottom: rem-calc(50);
  ul li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  a {
    display: block;
    font-size: rem-calc(13);
    color: $aluminum;
    &:hover{
      color: $jet;
    }
  }
}

nav.top-bar {
  // border-bottom: 2px solid $silver;
  ul {
    li {
      background: none;
      a {
        background: none;
      }
      a#submit {
        color: $blue;
        font-weight: 600;
      }
    }
  }
  .name {
    h1 {
      text-transform: uppercase;
      a {
        color: $jet;
      }
    }
  }
}
.top-bar-section {
  ul.dropdown {
    li:not(.has-form):not(.active) {
      a:not(.button) {
        text-transform: none !important;
        &:hover {
          background: $blue;
          color: $white;
        }
      }
    }
  }
}

ul.activity {
  margin: 0 0 0 1rem;
  li {
    padding: 0.5rem 1.2rem;
    border-bottom: 1px solid $silver;
    text-indent: -1.4rem;
    list-style-type: none;
    font-size: rem-calc(13);
    &:last-child {
      border-bottom: none;
    }
    a {
      line-height: 1.8;
    }
    &:before {
      font-family: 'entypo';
      content: "\2665";
      float: left;
      width: 1.4rem;
      margin-top: 2px;
    }
    &.liked:before {
      color: $pink;
      content: "\2665";
    }
    &.comment:before {
      color: $blue;
      content: "\E718";
    }
  }
}

ul.icon {
  li {
    text-indent: -1.4rem;
    list-style-type: none;

    &:before {
      font-family: 'entypo';
      font-size: rem-calc(11);
      margin-top: rem-calc(2);
      color: $jet;
      content: "\2665";
      float: left;
      width: 1.4rem;
    }

    &.blog:before { content: "\1F4D5" }
    &.twitter:before { content: "\F309" }
    &.facebook:before { content: "\F30E" }
  }
}

.border-top {
  // margin-top: rem-calc(40);
  border-top: 1px solid $silver;
}

#page-wrapper {
  margin-top: rem-calc(30);
}

.top-bar-section {
  ul.dropdown {
    top: 50px;
    background: $white;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0,0,0,0.3);
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.3);
    padding: 6px 0;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    li:not(.has-form) {
      a:not(.button) {
        line-height: 1.8;
      }
    }
    hr {
      margin: rem-calc(8px);
    }
  }
}

// Prototype grid styles
#prototypes-grid li {
  .contents {
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(1.02);
      -webkit-box-shadow: 0 4px 15px 0 rgba(0,0,0,0.1);
      box-shadow: 0 4px 15px 0 rgba(0,0,0,0.1);
    }
    .panel {
      border-top: none;
      border-right: 1px solid rgba(0,0,0,0.1);
      border-left: 1px solid rgba(0,0,0,0.1);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      background: $white;
      margin-bottom: 0;
      line-height: 20px;
      -webkit-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      a.title {
        font-weight: 600;
        font-style: italic;
        color: $jet;
      }
      a.author {
        font-size: 90%;
      }
      hr {
        margin: rem-calc(-8) 0 rem-calc(9);
      }
      .likes, .comments {
        font-weight: 600;
        font-size: 90%;
        a {
          color: $jet;
          display: inline-block;
          i { color: $aluminum; }
          i.icon-heart.some { color: $pink; }
          i.icon-comment.some { color: $blue; }
        }
      }
      .comments {
        margin-left: rem-calc(15);
      }
    }
  }
}

iframe {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

iframe#notifications {
  width: 220px;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
}

em.time {
  color: $aluminum;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  &:after {
    content: 'ago'
  }
}

a:focus, textarea:focus, input:focus{
  outline: 0;
}
a#liked:before {
  content:'Liked'; 
}
a#liked:hover:before {
  content:'Unlike?'; 
}

.preview-img {
  display: block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
}

span.inner {
  display: block;
  height: 0;
  padding-top: 100%;
}


.mtl {
  margin-top: rem-calc(25)
}

.mtm {
  margin-top: rem-calc(15)
}